.event-images-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; /* Space between items */
    justify-content: center;
    max-width: 1200px;
   
  }
  body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width:100%;
    background-image: url('C:\Users\prati\OneDrive\Desktop\sarc\asmp\ASMP24-25\asmp\src\assets\ArtStation - Explore.jpeg'); /* Path to your background image */
    background-size: cover; /* Ensures background image covers the entire screen */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .heading {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 32px;
    color:#fff;
  }
  
  
  .event-item {
    position: relative;
    width: calc(25% - 16px); /* 4 items per row with gap consideration */
    cursor: pointer;
    box-sizing: border-box;
  }
  
  .event-image {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%; /* Ensure the image doesn't exceed its container's width */
    border: 5px solid white; /* Add a white border */
  }
  
  .event-description {
    width: 100%;
    height: auto;
    display: block;
    color: #fff;
  }
  
  .event-title {
    text-align: center;
    margin-top: 8px;
    color: #fff;
    font-size: large;
  }
  
  @media (max-width: 768px) {
    .event-item {
      width: calc(50% - 16px); /* 2 items per row on smaller screens */
    }
  }
  
  @media (max-width: 480px) {
    .event-item {
      width: calc(100% - 16px); /* 1 item per row on very small screens */
    }
  }
  
  
 
 
  
  
  
  
  
  
  
  
  