@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

.font-fraunces {
    font-family: "Fraunces", serif;
}

.faq-box {
    height: 100%;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(89, 84, 84, 0.7) 43.5%, rgba(0, 0, 0, 0.7) 87.5%, rgba(0, 0, 0, 0.7) 100%);
}