body {
    /* cursor: none; */
}

.custom-cursor-dot {
    width: 6px;
    /* Adjust the dot size as needed */
    height: 6px;
    /* Adjust the dot size as needed */
    background-color: #FFFFFF;
    /* Color of the dot */
    border-radius: 50%;
    /* Make it a circle */
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
}


@media screen and (max-width: 600px) {
    .custom-cursor-circle{
        display: none;
    }
    .custom-cursor-dot{
        display: none;
    }
}

.custom-cursor-circle {
    width: 20px;
    /* Adjust the circle size as needed */
    height: 20px;
    /* Adjust the circle size as needed */
    border: 2px solid #FFFFFF;
    /* Border color of the circle */
    border-radius: 50%;
    /* Make it a circle */
    position: absolute;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9998;
    box-shadow: 0 0 10px #FFD700, 0 0 20px #FFD700, 0 0 30px #FFD700;
    /* Golden glow */
}