.wishlist-card {
    transition: all 0.3s ease;
    background-color: #305234;
    border-radius: 25px;
    border-color: #fff;
    max-width: 18rem;
    height: 100%;
    color: #d9cdb3;
    padding: 1rem;
    font-family: 'Libre Bodoni', serif;
    position: relative;
    margin-bottom: 4rem;
  }

  .wishlist-first-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 5px solid white;
    border-radius: 25px;
    box-sizing: border-box;
    pointer-events: none;
  }

  .upper-card {
    box-sizing: border-box;
    border-radius: 17px;
    background-color: #3b623f;
    margin: -0.4rem;
    padding: 0.4rem;
  }

  .card-header {
    background: none;
    color: #D9CDB3;
    border-bottom: none;
    font-weight: bold;
    text-align: center;
    font-size: 25px;
  }

  .lower-card-body {
    overflow-y: auto;
    padding: 1rem;
  }

  .card-text {
    text-align: left;
    color: #D9CDB3;
  }

  .mentor-id-div {
    text-align: center;
    color: #D9CDB3;
    font-size: smaller;
  }

  .add-to-wishlist {
    background-color: #3b623f;
    color: #D9CDB3;
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
  }
  
  @media (max-width: 1300px) {
    .card {
      max-width: 100%;
      margin: 0 auto;
    }
  
    .card-header {
      font-size: 1rem;
    }
  }

  @media (max-width: 786px) {
    .col-sm-3 {
      flex: 0 0 100%;
      max-width: 100%;
    }
  }